; vim:shiftwidth=4
<!doctype html>

%title -> Thumbnail Evaluator
%link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"
%link rel="stylesheet" href="{{ url_for('static', filename='css/spinner.css') }}"
%link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"

%link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"

%article id="main-container-wrapper"
    #main-container
        %header
            .title
                %span.fa.fa-youtube-play
                %h1 -> Thumbnail Evaluator
            %p
                Upload an image file and see how well it will do as a YouTube \
                video thumbnail!
        %form#upload-form method=post enctype="multipart/form-data"
            #image-preview.upload-wrapper
                %button
                    %label id="image-field-label" for=file
                        Choose File
                %input id="image-field" type=file name=file required

            %input id="submit-btn" type=submit value="Evaluate!"

        #output
            #spinner.spinner
            %span class="hint"
                Your results will appear here.
            #output-content

%script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
%script src="{{ url_for('static', filename='js/jquery-upload-preview.js') }}"

%script
    $(document).ready(function (e) {
        $.uploadPreview({
            input_field: "#image-field",
            preview_box: "#image-preview",
            label_field: "#image-field-label",
            label_default: "Choose File",
            label_selected: "Change File",
            success_callback: function () {
                $("#image-preview").addClass("not-empty");
            }
        });

        $("#upload-form").on('submit', function (e) {
            e.preventDefault();
            $("#submit-btn").prop("disabled", true);
            $("#spinner").show();
            $("#output > .hint").show();
            $("#output-content").html("");
            $.ajax({
                url: "process",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    $("#output-content").html(data);
                    $("#submit-btn").prop("disabled", false);
                    $("#spinner").hide();
                    $("#output > .hint").hide();
                },
            });
        })
    });
