* {
    font-family: Sans-serif;
    font-size: 17px;
}

.fa-youtube-play {
    color: #E02929;
}

/* display custom button instead of system-dependent button */
.upload-wrapper {
    position: relative;
    overflow: hidden;
}

.upload-wrapper > button {
    height: 100%;
    width: 100%;
    margin: 0;
    border: none;
}
.upload-wrapper > input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

button,
input[type=button],
input[type=submit] { 
    display: block;
    background-color: white; 
    border: 1px solid; 
    border-color: lightgray;
    border-radius: 5px;
    margin-right: 15px;
    height: auto;
} 

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
.upload-wrapper:hover button { 
    box-shadow: 0 0 5px 1px #FFFA;
}

body {
    background-color: #201E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 25px;
}

#main-container-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

#main-container {
    display: flex;
    flex-direction: column;
    width: 134ex;
    border-radius: 7px;
    background-color: white;
}

#main-container > header {
    padding: 15px 15px 0 15px;
}

#main-container > header .title {
    display: flex;
    align-items: center;
}

#main-container > header h1 {
    font-size: 30px;
    margin: 0;
}
#main-container > header .fa-youtube-play {
    font-size: 48px;
    margin-right: 10px;
}

#upload-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    background-color: #E02929;
}

#image-preview {
    position: relative;
    width: 320pt;
    height: 180pt;
    margin-right: 15px;
    background-color: #0005;
}
#image-preview.not-empty:hover {
    background-color: #0000;
}

#image-preview:hover button {
    opacity: 0.9;
}
#image-preview.not-empty:hover::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0005;
    content: '';
}

.upload-wrapper button {
    opacity: 0.8;
    border: none;
    position: absolute;
    height: 45px;
    width: 90px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#spinner {
    display: none;
    margin-bottom: 15px;
}

.hint {
    color: gray;
}

#output {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 0 0 7px 7px;
}

#output-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#output-content > header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#star-rating-wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding-left: 5px;
    border-radius: 7px;
    background-color: #EFEFEF;
    margin-right: 15px;
}

#star-rating {
    margin-left: 5px;
    background-color: #201E1E;
    padding: 5px;
    border-radius: 7px;
}

#star-rating .fa-star {
    color: #DDD;
    font-size: 23px;
    margin: 2px;
}

#star-rating .fa-star.star-checked {
    color: gold;
}

#video-examples .grid {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    margin-right: -15px;
    margin-bottom: -15px;
}

.grid iframe.yt {
    width: 320pt;
    height: 180pt;
    margin-right: 15px;
    margin-bottom: 15px;
}
